

.funcionality{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4rem;

}


.funcionality-web{
    display: flex;
    text-align: center;
    width: 60%;
    color: #f3f3f3;
    height: 23rem;
}