.ng-untouched.ng-pristine.ng-invalid{
    display: flex;
    flex-direction: column;
    text-align: center;

}

.modify-hero-form {
  height: 25rem;
  background-color: #242323;
  color: #f3f3f3;
  border-color: #f3f3f3;
  border-radius: 2rem;
  border: 0.3rem solid;

  &__title {
    text-align: center;
    color: #f3f3f3;
  }

  &__text {
    color: #f3f3f3;


    &__box {
       border-radius: 1rem;
    }

  }


}

.form-modif-buttons{
    display: flex;
    justify-content: center;

    &__button{
        background-color: #000000;
        color: #f3f3f3;
        border-radius: 0.7rem;
        width: 5.5rem;
        height: 1.8rem;
        border-color: #f3f3f3;
    }

}