.cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: center;
    background-image: url("../../../../../assets/images/backgrounAveng.jpg");
    background-color: #a03232; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    padding: 4rem 0rem 10rem 0rem;
}

.pagination {
 text-align: center;
 margin: 3rem;


    &__input {
        border: solid #e21a1a 0.2rem;
        border-radius: 1rem ;
        height: 2rem;
        font-size: large;
        background-color: #d6d3d3;
        color: #251e1e
    }

    &__text {
        font-size: 1.5rem;
        font-family: 'Courier New', Courier, monospace;
    }


}

