<div class="tittle-page">
    <h1 class="h1-title">MARVEL SUPERHEROS</h1>
</div>
<section class="main-section">
<div class="img-home">
    <img src="../../../../../assets/images/captain-america.png" alt="captain-america" class="image-cap">
</div>

<div class="text-home">

<app-super-hero-home></app-super-hero-home>
<app-super-hero-requisites-home></app-super-hero-requisites-home>

</div>
</section>
<section class="funcionality-home">
    <app-super-hero-functionality-home></app-super-hero-functionality-home>
</section>